.home-container {
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title-container {
    display: flex;
}

.home-meli-word {
    color: #273374;
}