.items-container {
    max-width: 1024px;
    margin: 0 auto;

}

.product-container {
    display: flex;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}

.title-container {
    margin: 1em 0 0 1em;
    width: 65%;
}